<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    .el-row {
        margin-bottom: 20px;
    &:last-child {
         margin-bottom: 0;
     }
    }
    .el-col {
        border-radius: 4px;
    }
    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }
    .row-bg {
        padding: 10px 0;
    }
</style>
<body>
<div id="app">
    <el-row>
        <el-col :span="3">
            <div class="grid-content bg-purple"></div>
        </el-col>
        <el-col :span="18">
            <div class="grid-content bg-purple-light">
                <!-- 头部开始 -->
                <el-header>
                    <el-menu class="el-menu-demo" mode="horizontal">
                        <el-menu-item index="1">全局化配置</el-menu-item>
                        <el-submenu index="2">
                            <template slot="title">接口工作台</template>
                            <el-menu-item index="2-1">选项1</el-menu-item>
                            <el-menu-item index="2-2">选项2</el-menu-item>
                            <el-menu-item index="2-3">选项3</el-menu-item>
                            <el-submenu index="2-4">
                                <template slot="title">选项4</template>
                                <el-menu-item index="2-4-1">选项1</el-menu-item>
                                <el-menu-item index="2-4-2">选项2</el-menu-item>
                                <el-menu-item index="2-4-3">选项3</el-menu-item>
                            </el-submenu>
                        </el-submenu>
                        <el-menu-item index="3">消息中心</el-menu-item>
                        <el-menu-item index="4">
                            <a href="https://www.ele.me" target="_blank">接口测试报表</a>
                        </el-menu-item>

                    </el-menu>
                </el-header>
                <!-- 头部结束 -->

                <el-container>
                    <!-- 右边导出记录 开始-->
                    <el-aside width="400px">

                    </el-aside>
                    <!-- 右边导出记录 开始-->


                    <!-- 主要区域 -->
                    <el-main>

                    </el-main>
                    <!-- 主要区域 -->

                </el-container>
            </div>
        </el-col>

        <el-col :span="3">
            <div class="grid-content bg-purple"></div>
        </el-col>
    </el-row>



    <el-container>
    </el-container>

</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {}
        },
        mounted() {

        },
        methods: {},
    })
</script>
</html>
